

@media only screen and (max-width: 768px) {

    #board-wrapper, .list-wrapper {

        flex-direction:column;
        width:100%;
        height:auto;
    }

    .board {
        flex-direction:column;
        width:100%;
        height:auto;
        margin:0px auto;
    }

    .layers, .lists{
        flex-direction:column;
        width:100%;
        padding:0 auto;
    }

    #today, #tonote, .tododiv, #dashboard {
        width:100%
    }

    #dropzone, #dropit{
        margin:0 auto;
        width:99%;
        height:auto;
       
    }

    #dropzone{
        padding:2px 0px 2px 2px;
        margin-top:15px;
        margin-left:0px;
    }

    #dropit{
        font-size:0.8em;
        
    }

    .App, .head {
        width:99%;
        margin: 0 auto;
    }

    .head{
        height:auto;
        display:flex;
        flex-direction:column;
    }

    #list-head{
        width:100%;
        height:auto;
    
    }

    .list-wrapper {
        height:auto;
        margin-left: -8px;
        width:90%;
        
    }

    #water {
        display:none;
    }

    #dashboard{
        margin:0px auto;
        height:auto;
        padding: 0px 10px;
        box-shadow: 8px 8px 16px #1a1a1a,  -8px -8px 16px #2e2e2e;
        background: linear-gradient(145deg, #202020, #272727);
        border-radius: 8px;
        width:90%;
    }

    #log-btn{
        width:100px;
    }

    #dptxt {
        margin-bottom:5px;
        margin-top:5px;
    }

    #login-wrapper{
        margin-top:40px;
        display:flex;
        flex-direction:column;
        align-items:center;
        width:90%;
        margin:0px auto;
        box-shadow:none;
    }
    
    #current_weather{
        margin-top:0px;
    }

    .App {
        max-width:100%;
        margin:0 auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        border:none;
    }

    *{
        width:95%;
    }

    

}